

<div class="wrapper" style="padding:20px">
    <form name="f" class="pure-form pure-form-stacked" novalidate #f="ngForm" (ngSubmit)="login()">
      <fieldset>
        <legend>Chicagoland's Source of Reliable Real Estate Information</legend>
        <div class="row" style="margin-top:10px;">
          <div class="col-sm-9">
            <div>
              <img src="/Scripts/assets/images/brochure-1-fpo.jpg" width="100%">
              <br>
              <Br> RealInfo provides information about real property ownership, sales and financing for Greater Chicago. Using
              information sourced from the region's leading title plant repository, we offer property profile and property
              history reports, mailing lists and custom research services.
            </div>
          </div>
          <div class="col-sm-3">
            <div style="background-color:#F1AC45;padding:10px;">
              <strong>News</strong>
              <br>
              <Br> New: Order and download document images
              <div style="text-align:right;margin-right:10px;">
                <a href="#">
                  <em>Learn more</em>
                </a>
              </div>
            </div>
            <div style="background-color:#F4F1F5;padding:10px;">
              <strong>Customer Login</strong>
              <Br>
              <br>
              <input type="text" name="username" [(ngModel)]="model.UserName" #username="ngModel">
              <label for="userid">User ID</label>
              <input id="password" name="password" type="password" placeholder="" [(ngModel)]="model.Password" #password="ngModel">
              <label for="password">Password</label>
              <input type="submit" value="Login" />
              <div style="text-align:right;margin-right:10px;">
                <a href="#">
                  <em>Forgot password?</em>
                </a>
              </div>
              <br>
              <a [routerLink]="['register']">Open an account</a>
            </div>
            <div style="background-color:#FBEAD1;padding:10px;">
              <strong>Contact</strong>
              <br>
              <Br> RealInfo
              <Br> 16W347 83rd Street, Suite D
              <Br> Burr Ridge, IL 60527
              <Br> Phone: 630.789.4900
              <Br> FAX: 630.789.4901
              <Br>
              <a href="#">sales@realinfo.net</a>
              <Br>
              <Br>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </fieldset>
    </form>
  </div>
  